* {
    margin: 0;
}

.domain {
    background-color: coral;
    text-align: center;
    padding: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav>a {
    color: black;
    text-decoration: none;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width : 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.board {
    background-color: blanchedalmond;
    width: auto;
    height: auto;
    margin: 10px;
}

.board>h3 {
    text-align: center;
    padding: 10px;
}

.board>p:first-of-type {
    border-top: 1px solid darkred;
}

.board p {
    height: 250px;
    padding: 10px;
}

.notic {
    margin: 0;
    border: 2px solid black;
}

.notic>h3 {
    text-align: center;
    padding: 10px;
}

.notic p {
    border-top: 1px solid black;
    padding: 10px;
    height: 250px;
}